@font-face {
    font-family: "Lato Sans Light";
    src: url("../fonts/lato/Lato-Light.ttf");
}
body {
    font-family: "Lato Sans Light", Arial, Helvetica, sans-serif;
}

.intro-section {
	padding:25% 0;
	background: url("../images/DeathtoStock_Creative Community3.jpg") center/cover;
}

.intro-title {
	color:#333;
    background:#e8e8e8;
    display:inline-block;
    padding:10px;
}

@media(min-width:768px) {
	.content-section {
		padding: 40px 40px 20px;
	}
}
@media(min-width:768px) {
	.random-facts {
		font-size: 18px;
	}
}

.section-header {
    display: inline-block;
    padding: 0 15px 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.2em;
}

footer {
    margin: 30px 0 20px;
    padding: 10px 15px;
    text-align: center;
}

@media(min-width:768px) {
	footer {
        padding: 10px 20px;
        text-align: left;
    }
}

/**
Typed CSS for the blinking cusor
**/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}